extends ../../layout/page
include ../../components/presentation

block content
    +basicSlide('AlpineJS', '/presentations/htmx-alpinejs/htmx-demo', '/presentations/htmx-alpinejs/alpinejs-demo')
        ul
            li Lightweight JS framework
            li Zelo podoben Vue
            li Definicijo komponent premakne v HTML
            li 15 atributov (x-data, x-bind, x-on, x-model, x-show)
            li Enake okrajšave kot Vue - @prop in :prop