extends ../../layout/page
include ../../components/presentation

block content
    +basicSlide('Izhodišče', '/presentations/htmx-alpinejs/stack', '/presentations/htmx-alpinejs/htmx')
        ul
            li Ločen FE doda kompleksnost
            li REST
            li HATEOAS slabo podprt z JSONom