extends ../../layout/page
include ../../components/presentation

block content
    +basicSlide('HTMX', '/presentations/htmx-alpinejs/basics', '/presentations/htmx-alpinejs/htmx-demo')
        ul
            li "Razširitev" HTML - JS za odpravo JS
            li Prej poznan kot IntercoolerJS
            li Idejo hypermedie razširi v HTML
            li Vsak element lahko postane aktiven