extends ../../layout/page
include ../../components/presentation

block content
    +basicSlide('Stack', '/presentations/htmx-alpinejs', '/presentations/htmx-alpinejs/basics')
        ul
            li Express
            li Pug
            li HTMX
            li AlpineJS